<a href="/wp-content/themes/port/assets/img/fulls/01.jpg">
    <img alt="" src="{{ portfolio.thumb }}/wp-content/themes/port/assets/img/thumbs/01.jpg"/>
    <h3>{{ portfolio.title }}Lorem ipsum dolor sit amet</h3>
</a>
