    <!-- Footer -->
    <footer id="footer">
        {% block footer %}
        <p>&copy; Untitled. All rights reserved. Design:
            <a href="http://templated.co">TEMPLATED</a>. Demo /wp-content/themes/port/assets/Img:
            <a href="http://unsplash.com">Unsplash</a>.</p>
        {% endblock %}
    </footer>

</div>